-
  name: git1
  token: ShRepShRepShRepShRepShR
  apiurl: http://gitlab.mydan.org/api/v4

-
  name: git2
  token: dSnODalwdqdaDWDQa
  apiurl: https://gitlab.mydan.com/api/v4

- 
  name: svn1
  path:
    - /opt/mydan/dan/code/temp/svn1/*/*.txt
